.formGroup {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}

.formField {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #d2d2d2 !important;
  outline: 0;
  font-size: 16px;
  color: #212121;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.formField::placeholder {
  color: transparent;
}

.formField:placeholder-shown ~ .formLabel {
  font-size: 14px;
  cursor: text;
  top: 20px;
}

.formLabel,
.formField:focus ~ .formLabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 11px;
  color: #9b9b9b;
}

.formField:focus ~ .formLabel {
  color: #0092d0;
}

.formField:focus {
  padding-bottom: 6px;
  border-bottom: 1px solid #0092d0;
}

.formField:disabled {
  border-bottom: transparent !important;
}

.iconPosition {
  position: absolute;
  right: 0;
  top: 40%;
}
